.signup-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: calc(50vw - 20px);
	min-width: 500px;
	border-radius: 20px;
	padding: 50px;
	background-color: #eee;
}

.signup-container form {
	display: flex;
	height: 250px;
	flex-direction: column;
	align-items: space-between;
	justify-content: space-between;
}

.signup-sub-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 175px;
}

.signup-sub-container .input-container .input input {
	width: 225px;
}

.login-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 80px;
	justify-content: space-between;
	margin-bottom: 40px;
}

.login-header h2 {
	font-size: 30px;
}

.login-header h3 a {
	color: rgb(15, 134, 83);
}

.login-header h3 a:hover {
	color: rgb(23, 172, 115);
}